<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Travel Planner</title>
  <!-- Load Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:900|Merriweather&display=swap" rel="stylesheet">  
  <!-- <link rel="stylesheet" href="../styles/styles.css"> -->
</head>
 <body>
  <main>
      <div id = "app">
          <div class ="holder headline">Trip Planner <br>
            <span id=sub>Look up the weather information before planning your trip within two weeks.</span>
            <br>
            <p><input type="text" id="travel_place" placeholder="input a country name here"></p> 
            <p><input type="date" id="travel_date"></p> 
          <p><button id="submit" type="submit" onclick="Client.getplan(event)">Search</button></p>
            <form onsubmit="Client.getplan(event)">
              <img id="picture" src="../src/client/media/transport.png" alt="Travel place will be here"/>
               <h3>Your travel is in <em id="noinput">No input</em></h3>
                            <img id="weather" src="../src/client/media/unknown.png" alt="weather forcast will be here"/>
                            <div id="temperature">Temperature : ?°C</div>
                            <div id="wind">Wind Speed :  m/s</div>
                            <div id="explanation">No explanation</div>
                <p><button id="saveplan" type="submit">Save The Trip</button></p>
            </form>
          </div>  
      </div>
</main>
<footer class="page__footer">
    <p>&copy Udacity</p>
</footer>
<script>
  // Check that service workers are supported
  if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
      });
  };
</script>
</body>
</html>